<div class="sectioncont" *ngIf="addonServ.weaponAddonsList !== null">

  <div class="flexcont" *ngIf="this.kiegFilter ==''">
    <div class="w30 bl-wh" (click)="sortMeBy('')">Összes</div>
    <div class="w30 bl-wh"
    *ngFor="let categ of getAddonCats()" (click)="sortMeBy(categ)">
      {{categ}}
    </div>
  </div>

  <div>
    <button type="button" (click)="gotoNewAddon()">Új Kiegészítő Rögzítése</button>
  </div>

  <div class="w100" *ngFor="let categ of getAddonCatsFiltered()">

    <h1>{{categ}}</h1>

    <div *ngFor="let place of getAddonByPlace(categ)">

      <h2>{{place}}</h2>

      <div *ngFor="let item of getAddons(place, categ)">
        <div class="flexcont" (click)="sendAddonID(item.id)">
          <div class="bl-wh w50">{{item.addonName}}</div>
          <div class="or-bl w20">{{item.addonMultiPrice}}x</div>
          <div class="or-bl w30">{{item.addonAddPrice}} cred</div>
          <div class="w50"> {{item.addonCategory}}</div>
          <div class="w20">{{item.addonMultiWeight}}x</div>
          <div class="w30">{{item.addonAddWeight}} Kg</div>
          <div class="w100"> Megj.: {{item.addonDesc}}</div>
        </div>
        <button class="" type="button" (click)="gotoUpdate(item.id)">Módosítás</button>
        <button class="or-bl delete" type="button" (click)="addonServ.deleteOneAddon(item.id)">Törlés</button>
      </div>
    </div>
  </div>

</div>
