ul {
  display: flex;
  flex-flow: row nowrap;
}

a {
  display: block;
  color: white;
  font-size: 1.2rem;
}

li {
  flex: 1 1 auto;
  text-align: center;
}

li :hover {
  cursor: pointer;
  background-color: orange;
}
