a {
  display: block;
  color: white;
  font-size: 1.2rem;
}

.element-cont {
  display: flex;
  flex-flow: row nowrap;
}

.navbaritem {
  display: block;
  text-align: center;
  flex: 1 1 auto;
}

li :hover {
  background-color: orange;
}
