<div class="element-cont">
  <div class="navbaritem logo">
    Shadowrun KarGen
  </div>
  <div class="navbaritem">
    <div>Üdv username</div>
    <button *ngIf="!userIsAuthenticated">
      Belépés/Regisztráció
    </button>
    <button *ngIf="userIsAuthenticated" (click)="onLogout">
      Kilépés
    </button>

  </div>
</div>

<nav>
  <ul class="element-cont">
      <li class="navbaritem">
        <a routerLink="/">Főoldal</a>
      </li>
      <li class="navbaritem">
        <a routerLink="/newchar">Új Karakter</a>
      </li>
      <li class="navbaritem">
        <a routerLink="/characters">Karakterek</a>
      </li>
      <li class="navbaritem" *ngIf="!userIsAuthenticated">
        <a routerLink="/login">Belépés</a>
      </li>
      <li class="navbaritem" *ngIf="!userIsAuthenticated">
        <a routerLink="/register">Regisztráció</a>
      </li>
  </ul>
</nav>
