  <nav>
    <ul class="element-cont">
      <div class="navbaritem">
        <li>
          <a routerLink="/">Főoldal</a>
        </li>
      </div>
      <div class="navbaritem">
        <li>
          <a routerLink="/newchar">Új Karakter</a>
        </li>
      </div>
      <div class="navbaritem">
        <li>
          <a routerLink="/characters">Karakterek</a>
        </li>
      </div>
      <div class="navbaritem">
        <li>
          <a routerLink="/login">Belépés</a>
        </li>
      </div>
      <div class="navbaritem">
        <li>
          <a routerLink="/register">Regisztráció</a>
        </li>
      </div>
    </ul>
  </nav>
