<nav>
  <div class="element-cont bl-wh">
    <div class="logo">
      <div class="head">
        Shadowrun
      </div>
      <div class="creator">
        Karakterlap by Mythras
      </div>
    </div>
  </div>
  <ul class="element-cont bl-wh">
      <li>
        <a routerLink="/">Főoldal</a>
      </li>
      <li *ngIf="userIsAuthenticated">
        <a routerLink="/newchar">Új Karakter</a>
      </li>
      <li *ngIf="userIsAuthenticated">
        <a routerLink="/characters">Karakterek</a>
      </li>
      <li *ngIf="userIsAuthenticated">
        <a routerLink="/newweapon">Új Fegyver</a>
      </li>
      <li *ngIf="!userIsAuthenticated">
        <a routerLink="/login">Belépés</a>
      </li>
      <li *ngIf="!userIsAuthenticated">
        <a routerLink="/register">Regisztráció</a>
      </li>
      <li *ngIf="userIsAuthenticated">
        <a (click)="onLogout()">Kilépés</a>
      </li>

  </ul>
</nav>
