<form class="sectioncont" [formGroup]="armorAddonsForm" (ngSubmit)="onSubmit()">

  <label class="bl-wh w50" for="addonName">Név</label>
  <input class="w50" id="addonName" type="text" formControlName="addonName">

  <label class="bl-wh w50" for="addonPlace">Elhelyezés</label>
  <select class="w50" formControlName="addonPlace" id="addonPlace">
    <option value="" selected disabled hidden>Válassz</option>
    <option value="Sisakok">Sisakok</option>
    <option value="Páncélok">Páncélok</option>
    <option value="Pajzsok">Pajzsok</option>
  </select>

  <label class="bl-wh w50" for="addonAddWeight">Extra súly</label>
  <input class="w50" id="addonAddWeight" type="number" formControlName="addonAddWeight">

  <label class="bl-wh w50" for="addonAddPrice">Extra Ár</label>
  <input class="w50" id="addonAddPrice" type="number" formControlName="addonAddPrice">

  <label class="bl-wh w50" for="addonMultiWeight">Súly módosító</label>
  <input class="w50" id="addonMultiWeight" type="number" formControlName="addonMultiWeight">

  <label class="bl-wh w50" for="addonMultiPrice">Ár módosító</label>
  <input class="w50" id="addonMultiPrice" type="number" formControlName="addonMultiPrice">

  <label class="bl-wh w100" for="addonDesc">Megjegyzések</label>
  <input class="w100" id="addonDesc" type="text" formControlName="addonDesc">

  <div class="buttoncont">
    <button class="gr-wh" type="submit">Mentés</button>
    <button class="or-bl" type="button" (click)="backToList()">Vissza</button>
  </div>

</form>
