.levelBtnCont {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 100%;
}

.levelBtnCont button {
  flex: 2 3 100%;
}

.levelBtnCont div {
  flex: 3 2 100%;
}

.fcvalue {
  background-color: white;
  color: black;
  border: 1px solid black;
  font-weight: bold;
}

.incBtn {
  background-color: green;
  color: white;
}

.decBtn {
  background-color: red;
  color: white;
}

button:disabled {
  background-color: white;
  color: gray;
}
