<div [formGroup]="attributesForm" class="section-cont">

  <h1>Tulajdonságok</h1>

  <fieldset *ngFor='let legend of charSubs.getLegends(getAttributes(), "csoport")'>
    <legend>{{legend}}</legend>
    <div class="mainContainer" *ngFor="let item of charSubs.getGroups(getAttributes(), legend)">
        <div class="subContainer cw60">
          <div class="w60">
            {{item.nev}}
          </div>
          <div class="w20">
            {{getTotalValue(item.fcname)}}
          </div>
          <div class="w20">
            <button type="button" [disabled]="getTotalValue(item.fcname) >= getMaxValue(item.fcname) || item.buttonstatus == 'disabled'"
              (click)='charSubs.increment(item.fcname, attributesForm)'>+</button>
            <button type="button" [disabled]="charSubs.getFromContValue(item.fcname, attributesForm) < 1 || item.buttonstatus == 'disabled'"
            (click)='charSubs.decrement(item.fcname, attributesForm)'>-</button>
          </div>
        </div>
        <div  class="subContainer cw40">
          <div>m: {{getMinValue(item.fcname)}}</div>
          <div>m: {{getMaxValue(item.fcname)}}</div>
          <div>v: {{charSubs.getFromContValue(item.fcname, attributesForm)}}</div>
        </div>
    </div>
  </fieldset>
</div>
