<form class="sectioncont" [formGroup]="newEquipmentForm" (ngSubmit)="onSubmit()">

  <label class="bl-wh w50" for="equipmentName">Név</label>
  <input class="w50" id="equipmentName" type="text" formControlName="equipmentName">

  <label class="bl-wh w50" for="equipmentCategory">Kategória</label>
  <input class="w50" id="equipmentCategory" type="text" formControlName="equipmentCategory">

  <label class="bl-wh w50" for="equipmentMaxLevel">Szint</label>
  <input class="w50" id="equipmentMaxLevel" type="text" formControlName="equipmentMaxLevel" placeholder="1, ha nem szintezhető">

  <label class="bl-wh w50" for="equipmentWeight">Súly</label>
  <input class="w50" id="equipmentWeight" type="number" formControlName="equipmentWeight">

  <label class="bl-wh w50" for="equipmentPrice">Ár</label>
  <input class="w50" id="equipmentPrice" type="number" formControlName="equipmentPrice">

  <label class="bl-wh w100" for="equipmentDesc">Megjegyzések</label>
  <input class="w100" id="equipmentDesc" type="text" formControlName="equipmentDesc">
  <div class="buttoncont">
    <button class="bl-wh" type="submit">Mentés</button>
    <button class="or-bl" type="button" (click)="backToList()">Vissza</button>
  </div>
</form>
