<h1 (click)="toggleHide()">
  Páncélok {{this.yourMoney}}/{{getSum('Price')}}
</h1>

<div class="sectioncont" [hidden]="hideMe" *ngIf="armorsForm" [formGroup]='armorsForm'>

  <div *ngFor="let type of getTypes()" [formArrayName]='type'>

    <div class="buttoncont" *ngIf="getControls(type) < 1">
      <button class="gr-wh" type="button" (click)="addArmor(type)"
      [disabled]="this.yourMoney <= 0">Új {{getLegends(type)}} Vásárlása</button>
    </div>

    <div [formGroupName]='i' *ngFor="let item of getControls(type); let i = index">

      <fieldset class="flexcont">
        <legend>
          <div>{{getDetails(i, type, 'armorName')}}</div>
          <div class="or-bl">{{getSubTotal(i, type, 'Price')}} cred</div>
          <div class="bl-wh">{{getSubTotal(i, type, 'Weight')}} Kg</div>
        </legend>
        <div class="bl-wh w20">AR: {{getDetails(i, type, 'armorRating')}}</div>
        <div class="or-bl w30">{{getDetails(i, type, 'armorPrice')}} cred</div>
        <div class="bl-wh w30">{{getDetails(i, type, 'armorWeight')}} kg</div>
        <button class="re-wh w20" type="button" (click)="removeArmor(i, type)">Törlés</button>
        <input type="text" class="w100" formControlName="armorDesc" placeholder="Megjegyzések">

        <div class="bl-wh w100" *ngIf="getDetails(i, type, 'addonName1') == ''" (click)="AddAddon(i, type, 1)">Kiegészítő1</div>
        <div class="flexcont w100" *ngIf="getDetails(i, type, 'addonName1') !== ''">
          <div class="w50 bl-wh">{{getDetails(i, type, 'addonName1')}}</div>
          <div class="w20 or-bl">{{getDetails(i, type, 'addonMultiPrice1')}}x</div>
          <div class="w30 or-bl">{{getDetails(i, type, 'addonAddPrice1')}} cred</div>
          <div class="w100">{{getDetails(i, type, 'addonDesc1')}}</div>
        </div>
        <div class="bl-wh w100" *ngIf="getDetails(i, type, 'addonName2') == ''" (click)="AddAddon(i, type, 2)">Kiegészítő2</div>
        <div class="flexcont w100" *ngIf="getDetails(i, type, 'addonName2') !== ''">
          <div class="w50 bl-wh">{{getDetails(i, type, 'addonName2')}}</div>
          <div class="w20 or-bl">{{getDetails(i, type, 'addonMultiPrice2')}}x</div>
          <div class="w30 or-bl">{{getDetails(i, type, 'addonAddPrice2')}} cred</div>
          <div class="w100">{{getDetails(i, type, 'addonDesc2')}}</div>
        </div>
        <div class="bl-wh w100" *ngIf="getDetails(i, type, 'addonName3') == ''" (click)="AddAddon(i, type, 3)">Kiegészítő3</div>
        <div class="flexcont w100" *ngIf="getDetails(i, type, 'addonName3') !== ''">
          <div class="w50 bl-wh">{{getDetails(i, type, 'addonName3')}}</div>
          <div class="w20 or-bl">{{getDetails(i, type, 'addonMultiPrice3')}}x</div>
          <div class="w30 or-bl">{{getDetails(i, type, 'addonAddPrice3')}} cred</div>
          <div class="w100">{{getDetails(i, type, 'addonDesc3')}}</div>
        </div>
      </fieldset>
    </div>
  </div>


</div>
