<div class="section-cont" [formGroup]="resourcesForm">

  <h1>Pontelosztás</h1>

  <fieldset *ngFor='let legend of charSubs.getLegends(getResources(), "csoport")'>
    <legend>
      <div>{{legend}}</div>
      <div *ngIf="legend == 'Karma'">{{getRemainingKarma()}}</div>
      <div *ngIf="legend == 'Mágia'">{{getRemainingMagic()}}</div>
      <div *ngIf="legend == 'Erőforrások'">{{getRemainingCash()}}</div>
    </legend>

    <div class="flexcont" *ngFor='let res of charSubs.getGroups(getResources(), legend)'>
      <div class="bl-wh elemnev">
        {{res.nev}}
      </div>
      <div class="or-bl elemertek">
        {{getTotalValue(res.fcname)}}
      </div>
      <div *ngIf='res.csoport=="Karma"' class="levelBtnCont">
        <button class="bl-wh" type="button" (click)="charSubs.increment(res.fcname, resourcesForm)"
        [disabled]="res.maxValue<=getTotalValue(res.fcname) || nopoints || getRemainingKarma()<0+res.lepes">+</button>
        <button class="or-bl" type="button" (click)="charSubs.decrement(res.fcname, resourcesForm)"
        [disabled]="getTotalValue(res.fcname)<=0">-</button>
      </div>
    </div>

  </fieldset>

</div>
