<h1 (click)="toggleHide()">Pontelosztás</h1>

<div class="sectioncont" [hidden]="hideMe" [formGroup]="resourcesForm" *ngIf="resourcesForm">

  <fieldset>
    <legend>
      <div>Karmaelosztás {{getRemainingKarma()}}</div>
    </legend>

    <div class="flexcont" *ngFor='let res of getResources()'>
      <div class="bl-wh elemnev">
        {{res.nev}}
      </div>
      <input [formControlName]='res.fcname' *ngIf="res.hide==true" type="number" class="elemertek" readonly
      [value]="getTotalValue(res.fcname)">
      <app-levelcontrol
        *ngIf='res.hide==false'
        [baseValue]=0
        [fcName]='getFormcontrol(res.fcname)'
        [disableIncrement]="nopoints
         || getTotalValue(res.fcname)==res.maxValue
         || getRemainingKarma() < res.lepes"
         [disableDecrement]='disableDec(res.fcname)<=0'>
         {{sendResData(res.fcname)}}
      </app-levelcontrol>
    </div>
  </fieldset>
</div>
