.flexcont {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

input {
  display: block;
  max-width: 30%;
  text-align: right;
}

.elemertek {
  flex: 1 2 15%;
}

.elemnev {
  flex: 2 1 70%;
}
