<form class="sectioncont" [formGroup]="newArmorForm" (ngSubmit)="onSubmit()">

  <label class="bl-wh w50" for="armorName">Név</label>
  <input class="w50" id="armorName" type="text" formControlName="armorName">

  <label class="bl-wh w50" for="armorCategory">Kategória</label>
  <input class="w50" id="armorCategory" type="text" formControlName="armorCategory">

  <label class="bl-wh w50" for="armorRating">Páncélérték</label>
  <input class="w50" id="armorRating" type="number" formControlName="armorRating">

  <label class="bl-wh w50" for="armorWeight">Súly</label>
  <input class="w50" id="armorWeight" type="number" formControlName="armorWeight">

  <label class="bl-wh w50" for="armorPrice">Ár</label>
  <input class="w50" id="armorPrice" type="number" formControlName="armorPrice">

  <label class="bl-wh w100" for="armorDesc">Megjegyzések</label>
  <input class="w100" id="armorDesc" type="text" formControlName="armorDesc">

  <div class="buttoncont">
    <button class="bl-wh" type="submit">Mentés</button>
    <button class="or-bl" type="button" (click)="backToList()">Vissza</button>
  </div>

</form>
