<form class="sectioncont" [formGroup]="weaponAddonsForm" (ngSubmit)="onSubmit()">

  <label class="bl-wh" for="addonName">Név</label>
  <input class="" id="addonName" type="text" formControlName="addonName">

  <label class="bl-wh" for="addonCategory">Kategória</label>
  <input class="" id="addonCategory" type="text" formControlName="addonCategory">

  <label class="bl-wh" for="addonPlace">Elhelyezés</label>
  <select formControlName="addonPlace" id="addonPlace">
    <option value="" selected disabled hidden>Válassz</option>
    <option value="kieg1">Kiegészítő1</option>
    <option value="kieg2">Kiegészítő2</option>
    <option value="kieg3">Kiegészítő3</option>
    <option value="kieg4">Kiegészítő4</option>
  </select>

  <label class="bl-wh" for="addonAddWeight">Extra súly</label>
  <input class="" id="addonAddWeight" type="number" formControlName="addonAddWeight">

  <label class="bl-wh" for="addonAddPrice">Extra Ár</label>
  <input class="" id="addonAddPrice" type="number" formControlName="addonAddPrice">

  <label class="bl-wh" for="addonMultiWeight">Súly módosító</label>
  <input class="" id="addonMultiWeight" type="number" formControlName="addonMultiWeight">

  <label class="bl-wh" for="addonMultiPrice">Ár módosító</label>
  <input class="" id="addonMultiPrice" type="number" formControlName="addonMultiPrice">

  <label class="bl-wh" for="addonDesc">Megjegyzések</label>
  <input class="" id="addonDesc" type="text" formControlName="addonDesc">

  <div class="buttoncont">
    <button class="bl-wh" type="submit">Mentés</button>
    <button class="or-bl" type="button" (click)="backToList()">Vissza</button>
  </div>

</form>
