<div class="section-cont" [formGroup]="detailsForm" *ngIf="detailsForm">

  <h1>Karakter Jellemzők</h1>

  <div class="mainContainer" *ngFor="let item of getDetailsData(); first as isFirst">
    <label for={{item.fcname}}>{{item.nev}}</label>
    <!-- szöveg -->
    <input id={{item.fcname}} *ngIf='item.type=="text"'
    [formControlName]=item.fcname type="text" [value]="getDetails(item.fcname)"
    placeholder={{item.megjegyz}}>
    <!-- lista -->

    <input *ngIf='item.type=="select"' [attr.list]=item.listname [formControlName]=item.fcname (ngModelChange)="sendRaceData()">
    <datalist *ngIf='item.type=="select"' id={{item.listname}}>
      <option value="" selected disabled hidden>Válassz</option>
      <option *ngFor="let listitem of listGetter(item.listname)" value={{listitem}}>{{listitem}}</option>
    </datalist>

    <!-- <select *ngIf='item.type=="select"' [formControlName]=item.fcname (ngModelChange)="sendRaceData()">
        <option value="" selected disabled hidden>Válassz</option>
        <option *ngFor="let listitem of listGetter(item.listname)" value={{listitem}}>{{listitem}}</option>
      </select> -->

    <!-- szín -->
    <input id={{item.fcname}} list="presetcolors" *ngIf='item.type=="color"' [formControlName]=item.fcname type="color">
      <datalist id="presetcolors" *ngIf='item.type=="color"'>
        <option>#c58c85</option>
        <option>#ecbcb4</option>
        <option>#d1a3a4</option>
        <option>#a1665e</option>
        <option>#503335</option>
        <option>#592f2a</option>
      </datalist>
    <!-- szám -->
    <input id={{item.fcname}} *ngIf='item.type=="number"' [formControlName]=item.fcname type="number">
  </div>
</div>
