<div class="listcont">
  <div class="charcont" *ngFor="let char of chars">
    <h2>
      {{char.teljesnev}}
    </h2>
    <div>
      {{char.anyanyelv}}
    </div>
    <div>
      {{char.magikus}}
    </div>
    <div>
      {{char.creatorName}}
    </div>
    <div class="buttoncont">
      <button class="bl-wh" (click)="gotoUpdateChar(char.id)">Módosítás</button>
      <button class="re-wh" (click)="onDelete(char.id)">Törlés</button>
    </div>
  </div>
  <div class="buttoncont">
    <button class="gr-wh" (click)="gotoNewChar()">Új Karakter</button>
  </div>

</div>
