* {box-sizing: border-box; padding: 0; margin: 0;}

html {background-color: gray}

body {
  background-color: white;
  width: 100%;
}

a {
  text-decoration: none;
  display: block;
  color: black;
}

li {list-style: none;}

.sectioncont {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: flex-start;
  margin: 0 0.5rem 0.5rem 0.5rem;
  min-height: 10rem;
}

.bl-wh {
  background-color: black;
  color: white;
}

.or-bl {
  background-color: orange;
  color: black;
}

h1 {
  display: block;
  width: 100%;
  text-align: center;
  background-color: black;
  color: white;
  font-size: 1.5rem;
  line-height: 1.5rem;
  padding: 0.5rem;
  margin: 0.5rem auto;
}

fieldset {
  display: block;
  width: 100%;
  background-color: lightgray;
  padding: 0.5rem 0.1rem;
  text-align: center;
  margin-bottom: 1rem;
}

legend {
  display: flex;
  flex-flow: row nowrap;
  background-color: black;
  color: white;
  font-size: 1.2rem;
  text-align: center;
}

legend div {
  flex: 1 1 auto;
  padding: 0.1rem 0.3rem;
  border: 1px solid black;
}

button:disabled {
  background-color: white;
  color: gray;
}
