<div class="sectioncont" *ngIf="addonServ.armorAddonsList !== null">

  <div class="buttoncont">
    <button class="gr-wh" type="button" (click)="gotoNewAddon()" *ngIf="!selectionMode">Új Páncél Kieg Rögzítése</button>
  </div>

  <h1>Páncél Kiegészítők</h1>

  <div *ngFor="let type of getAddonPlace()">

    <h2>{{type}}</h2>

    <div class="flexcont itemcont" (click)="sendAddonID(item.id)" *ngFor="let item of getAddons(type)">
      <div class="bl-wh w60">{{item.addonName}}</div>
      <div *ngIf="item.addonMultiPrice!==1" class="or-bl w20">{{item.addonMultiPrice}}x</div>
      <div *ngIf="item.addonAddPrice>0" class="or-bl w20">{{item.addonAddPrice}} cr</div>
      <div *ngIf="item.addonMultiWeight!==1" class="bl-wh w20">{{item.addonMultiWeight}}x</div>
      <div *ngIf="item.addonAddWeight>0" class="bl-wh w20">{{item.addonAddWeight}} kg</div>
      <div class="w100"> {{item.addonDesc}}</div>
      <div class="" *ngIf="!selectionMode">
        <button class="bl-wh" type="button" (click)="gotoUpdate(item.id)">Módosítás</button>
        <button class="re-wh" type="button" (click)="addonServ.deleteOneAddon(item.id)">Törlés</button>
      </div>
    </div>
  </div>

</div>
