<form *ngIf="!isLoading" [formGroup]="mainCharForm" (ngSubmit)="createNewChar()">

  <app-char-details [detailsForm]="detailsForm"></app-char-details>
  <app-char-resources [resourcesForm]="resourcesForm"></app-char-resources>
  <app-char-attributes [attributesForm]="attributesForm"></app-char-attributes>
  <app-char-skills [skillsForm]="skillsForm"></app-char-skills>
  <app-char-tools [toolsForm]="toolsForm"></app-char-tools>
  <app-char-armors [armorsForm]="armorsForm"></app-char-armors>

  <div class="or-bl buttoncont">
    <button class="bl-wh" *ngIf="!isLoading" [disabled]="!mainCharForm.valid">Karakter mentése</button>
  </div>

</form>
<app-spinner *ngIf="isLoading"></app-spinner>
